%content
  %row
    .col-md-8.col-md-offset-2
      %h2 Admin Users Page
      %p
        %strong Secret:
        %span  There_is_no_right_or_wrong_just_fun_and_boring

  %row
    .col-md-8.col-md-offset-2
      %img(src="/success.gif")
